{% load static i18n %}
<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="{% static 'assets/images/logo.png' %}" class="footer-logo" alt="{% trans 'Footer Logo' %}" width="105" height="25">
                        <p>{% blocktrans %}Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.{% endblocktrans %}</p>

                        <div class="social-icons">
                            <a href="#" class="social-icon" target="_blank" title="{% trans 'Facebook' %}"><i class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="{% trans 'Twitter' %}"><i class="icon-twitter"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="{% trans 'Instagram' %}"><i class="icon-instagram"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="{% trans 'Youtube' %}"><i class="icon-youtube"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="{% trans 'Pinterest' %}"><i class="icon-pinterest"></i></a>
                        </div><!-- End .social-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">{% trans 'Useful Links' %}</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="../pages/about.html">{% trans 'About Molla' %}</a></li>
                            <li><a href="#">{% trans 'How to shop on Molla' %}</a></li>
                            <li><a href="#">{% trans 'FAQ' %}</a></li>
                            <li><a href="../pages/contact.html">{% trans 'Contact us' %}</a></li>
                            <li><a href="../auth/login.html">{% trans 'Log in' %}</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">{% trans 'Customer Service' %}</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">{% trans 'Payment Methods' %}</a></li>
                            <li><a href="#">{% trans 'Money-back guarantee!' %}</a></li>
                            <li><a href="#">{% trans 'Returns' %}</a></li>
                            <li><a href="#">{% trans 'Shipping' %}</a></li>
                            <li><a href="#">{% trans 'Terms and conditions' %}</a></li>
                            <li><a href="#">{% trans 'Privacy Policy' %}</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">{% trans 'My Account' %}</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">{% trans 'Sign In' %}</a></li>
                            <li><a href="../products/cart.html">{% trans 'View Cart' %}</a></li>
                            <li><a href="#">{% trans 'My Wishlist' %}</a></li>
                            <li><a href="#">{% trans 'Track My Order' %}</a></li>
                            <li><a href="#">{% trans 'Help' %}</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">
                {% blocktrans %}Copyright © 2019 Molla Store. All Rights Reserved.{% endblocktrans %}
            </p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="{% static 'assets/images/payments.png' %}" alt="{% trans 'Payment methods' %}" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
